      <h1>Мои настройки</h1>
      <div class="settings">
        <% form_for @user, :html => { :multipart => true } do |f| -%>
          <%= f.error_messages %>
          <% if current_user.avatar_file_name -%>
            <%= image_tag(current_user.avatar.url(:original), :class => "settings_avatar") %>
          <% else -%>
            <%= image_tag("avatar2.jpg", :class => "settings_avatar") %>
          <% end -%>

          <span class="font_size10">Загружаемая фотография не должна быть больше 5 мегабайт</span>
          <%= f.file_field :avatar, :class => "file_avatar" %>
          <div class="formats">
            <span>Допустимые форматы: jpg, png</span>
            <%= submit_tag "Сохранить", :class => "right_submit" %>
          </div>
        <% end -%>
        <div class="clear"></div>
      </div>

