<% content_for :title do %>Мои споры/мнения<% end %>
<% content_for :description do %>Общественное мнение, истина, прав ли я, споры, мнения, дебаты, мнение народа, коллективные споры<% end %>
<% content_for :keywords do %>Общественное мнение, истина, прав ли я, споры, мнения, дебаты, мнение народа, коллективные споры<% end %>

<%= render :partial => 'templates/site_navigation' %>
      <h1>Мои споры/мнения</h1>
<%= will_paginate @debates, :previous_label => " ", :next_label => " " %>
      <table class="mydebates">
        <tr><th class="paddingleft15">Заголовок</th><th>За</th><th>Против</th><th>Дата создания</th></tr>

<%= render :partial => 'mydebate', :collection => @debates %>

      </table>
<%= will_paginate @debates, :previous_label => " ", :next_label => " "  %>
<div class="hightred">
  <%= link_to 'Создать своё мнение', new_debate_url %>
</div>

