
  <div class="group">
    <%= f.label :login, t("activerecord.attributes.user.login", :default => "Login"), :class => :label %>
    <%= f.text_field :login, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :nick, t("activerecord.attributes.user.nick", :default => "Nick"), :class => :label %>
    <%= f.text_field :nick, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :crypted_password, t("activerecord.attributes.user.crypted_password", :default => "Crypted password"), :class => :label %>
    <%= f.text_field :crypted_password, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :password_salt, t("activerecord.attributes.user.password_salt", :default => "Password salt"), :class => :label %>
    <%= f.text_field :password_salt, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :master, t("activerecord.attributes.user.master", :default => "Master"), :class => :label %>
    <%= f.check_box :master, :class => 'check_box', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :persistence_token, t("activerecord.attributes.user.persistence_token", :default => "Persistence token"), :class => :label %>
    <%= f.text_field :persistence_token, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :single_access_token, t("activerecord.attributes.user.single_access_token", :default => "Single access token"), :class => :label %>
    <%= f.text_field :single_access_token, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :perishable_token, t("activerecord.attributes.user.perishable_token", :default => "Perishable token"), :class => :label %>
    <%= f.text_field :perishable_token, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :login_count, t("activerecord.attributes.user.login_count", :default => "Login count"), :class => :label %>
    <%= f.text_field :login_count, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :failed_login_count, t("activerecord.attributes.user.failed_login_count", :default => "Failed login count"), :class => :label %>
    <%= f.text_field :failed_login_count, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :last_request_at, t("activerecord.attributes.user.last_request_at", :default => "Last request at"), :class => :label %>
    <%= f.datetime_select :last_request_at, :class => 'datetime_select', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :current_login_at, t("activerecord.attributes.user.current_login_at", :default => "Current login at"), :class => :label %>
    <%= f.datetime_select :current_login_at, :class => 'datetime_select', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :last_login_at, t("activerecord.attributes.user.last_login_at", :default => "Last login at"), :class => :label %>
    <%= f.datetime_select :last_login_at, :class => 'datetime_select', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :current_login_ip, t("activerecord.attributes.user.current_login_ip", :default => "Current login ip"), :class => :label %>
    <%= f.text_field :current_login_ip, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :last_login_ip, t("activerecord.attributes.user.last_login_ip", :default => "Last login ip"), :class => :label %>
    <%= f.text_field :last_login_ip, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :avatar_file_name, t("activerecord.attributes.user.avatar_file_name", :default => "Avatar file name"), :class => :label %>
    <%= f.text_field :avatar_file_name, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :avatar_content_type, t("activerecord.attributes.user.avatar_content_type", :default => "Avatar content type"), :class => :label %>
    <%= f.text_field :avatar_content_type, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :avatar_file_size, t("activerecord.attributes.user.avatar_file_size", :default => "Avatar file size"), :class => :label %>
    <%= f.text_field :avatar_file_size, :class => 'text_field', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :avatar_updated_at, t("activerecord.attributes.user.avatar_updated_at", :default => "Avatar updated at"), :class => :label %>
    <%= f.datetime_select :avatar_updated_at, :class => 'datetime_select', :disabled => true %>
    <span class="description">Ex: a simple text</span>
  </div>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", admin_users_path, :class => "button" %>
</div>

