<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="<%= yield :keywords %>" />
    <meta name="description" content="<%= yield :description %>" />
    <%= stylesheet_link_tag "main" %>
    <title><%= yield :title %></title>
  </head>
  <body>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "slide_void" %>
    <header>
      <div class="logo">
        <h1>
          <%= link_to image_tag("naspr.jpg", :alt => "Споры"), root_url %>
        </h1>
      </div>

      <div class="header">
        <h1>Споры, мнения</h1>
      </div>

      <% if current_user -%>
        <div class="userinfo">
            <div class="useravatar">
          <% if current_user.avatar? -%>
              <%= image_tag current_user.avatar.url %>
          <% else -%>
            <%= image_tag "/images/avatar2.jpg" %>
          <% end -%>
            </div>
          <ul class="listparams">
            <li><%= link_to 'Мои споры/мнения', mydebates_debates_url %></li>
            <li><%= link_to 'Редактировать профиль', edit_user_url(current_user.id) %></li>
            <li><%= link_to 'Новый спор/мнение', new_debate_url %></li>
            <% if current_user.master == true -%>
              <li><%= link_to 'Админка', admin_root_url %></li>
            <% end -%>
          </ul>
          <div class="clear"></div>
        </div>
      <% end -%>

      <div class="search">
          <% form_tag(search_debates_url, :method => :get) do %>
            <%= text_field_tag :text, nil, :class => "input_search" %>
            <%= image_submit_tag("search_button.png", :class => "search_image", :alt => "Поиск") %>
          <% end -%>
      </div>

      <div class="enter">
        <% unless current_user -%>
          <%= link_to 'Войти', login_url %>
        <% end -%>
      </div>

      <div class="registration">
        <% if current_user -%>
          <%= link_to 'Выйти', logout_url %>
        <% else -%>
          <%= link_to 'Регистрация', new_user_url %>
        <% end -%>
      </div>
    </header>

    <div class="content">
    <div class="error_messages">
      <%= flash[:notice] %>
    </div>
  <%= yield %>
    </div>
      <footer>
        <div class="footer_menu">
            <%= render :partial => 'templates/bottom_menu', :collection => @contents %>
            <%= link_to 'Контакты', contacts_url %>
        </div>

        <div class="layvinternet">
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t15.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: number of pageviews for 24 hours,"+
" of visitors for 24 hours and for today is shown' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
        </div>

        <div class="clear"></div>
      </footer>
  </body>
</html>

